<header class="px-4 py-3">
    <div class="d-flex align-items-center justify-content-between">
        <a
            routerLink="/inicio"
            class="text-uppercase text-dark h4 m-0"
        >Mati<span class="text-primary">Diaz</span></a>
        <div class="d-flex align-items-center justify-content-between">
            <button
                type="button"
                class="btn btn-link"
                (click)="onSearch()"
            >Buscar</button>
            <a
                href="https://matidiaz.com"
                target="_blank"
                class="btn btn-outline-primary rounded-pill"
            >Portfolio</a>
        </div>
    </div>
</header>